<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='tailwind.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Przykładowe wypełnienie</title>
    </head>
    <body class="text-center">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.js"></script>
        <div class="container mx-auto">
            <h1 class="mt-5 text-4xl py-5">Przykładowe tworzenie badania</h1>
            <div class="row flex items-start">
                <!-- Left Column -->
                <div class="col-md-6 form-section w-1/2" id="form-section">
                    <!-- Goal 1 -->
                    <div class="form-group mb-4 bg-gray-200 rounded p-4">
                        <div class="form-group-title flex items-center mb-2">
                            <h5 class="flex-1 m-0">Jakość komunikacji miejskiej</h5>
                        </div>
                        <label class="goal-label text-left">Opis celu</label>
                        <textarea class="form-control w-full h-20 text-base" placeholder="Goal description">Zbadaj co ludzie myślą o jakości komunikacji miejskiej.</textarea>
                        <label class="metrics-label text-left mt-4">Miary</label>
                        <div class="metric-titles">
                            <div class="metric-title flex items-center justify-between mt-2">
                                <span class="flex-1 metric-title">Jak oceniasz jakość komunikacji miejskiej?</span>
                                <button class="btn btn-secondary bg-yellow-500 text-white px-2 py-1 ml-2 rounded" onclick="viewMetric('likert')">zobacz</button>
                            </div>
                            <div class="metric-title flex items-center justify-between mt-2">
                                <span class="flex-1 metric-title">Ile razy w tygodniu korzystasz z transportu publicznego?</span>
                                <button class="btn btn-secondary bg-yellow-500 text-white px-2 py-1 ml-2 rounded" onclick="viewMetric('numeric')">zobacz</button>
                            </div>
                            <div class="metric-title flex items-center justify-between mt-2">
                                <span class="flex-1 metric-title">Jaką zmianę zasugerowałbyś/sugerowałabyś dla obecnego stanu transportu publicznego?</span>
                                <button class="btn btn-secondary bg-yellow-500 text-white px-2 py-1 ml-2 rounded" onclick="viewMetric('open')">zobacz</button>
                            </div>
                        </div>
                    </div>
                    <!-- Goal 2 -->
                    <div class="form-group mb-4 bg-gray-200 rounded p-4">
                        <div class="form-group-title flex items-center mb-2">
                            <h5 class="flex-1 m-0">Infrastruktura drogowa i zarządzanie ruchem</h5>
                        </div>
                        <label class="goal-label text-left">Opis celu</label>
                        <textarea class="form-control w-full h-20 text-base" placeholder="Goal description">Zbadaj jak mieszkańcy odbierają jakość infrastruktury, zarządzania ruchem, a także bezpieczeństwo na drogach</textarea>
                        <label class="metrics-label text-left mt-4">Miary</label>
                        <div class="metric-titles">
                            <div class="metric-title flex items-center justify-between mt-2">
                                <span class="flex-1 metric-title">Jak oceniasz obecny stan dróg w Twojej okolicy?</span>
                                <button class="btn btn-secondary bg-yellow-500 text-white px-2 py-1 ml-2 rounded" onclick="viewMetric('likert')">zobacz</button>
                            </div>
                            <div class="metric-title flex items-center justify-between mt-2">
                                <span class="flex-1 metric-title">Ile godzin tygodniowo średnio tracisz z powodu korków?</span>
                                <button class="btn btn-secondary bg-yellow-500 text-white px-2 py-1 ml-2 rounded" onclick="viewMetric('numeric')">zobacz</button>
                            </div>
                            <div class="metric-title flex items-center justify-between mt-2">
                                <span class="flex-1 metric-title">Jaką zmianę zasugerowałbyś/sugerowałabyś aby poprawić bezpieczeństwo na drogach?</span>
                                <button class="btn btn-secondary bg-yellow-500 text-white px-2 py-1 ml-2 rounded" onclick="viewMetric('open')">zobacz</button>
                            </div>
                        </div>
                    </div>
                    <!-- Goal 3 -->
                    <div class="form-group mb-4 bg-gray-200 rounded p-4">
                        <div class="form-group-title flex items-center mb-2">
                            <h5 class="flex-1 m-0">Miejsca parkingowe</h5>
                        </div>
                        <label class="goal-label text-left">Opis celu</label>
                        <textarea class="form-control w-full h-20 text-base" placeholder="Goal description">Zbadaj co mieszkańcy sądzą o styduacji z miejscami parkingowymi.</textarea>
                        <label class="metrics-label text-left mt-4">Miary</label>
                        <div class="metric-titles">
                            <div class="metric-title flex items-center justify-between mt-2">
                                <span class="flex-1 metric-title">Jak oceniasz liczbę miejsc parkingowych w centrum miasta</span>
                                <button class="btn btn-secondary bg-yellow-500 text-white px-2 py-1 ml-2 rounded" onclick="viewMetric('likert')">zobacz</button>
                            </div>
                            <div class="metric-title flex items-center justify-between mt-2">
                                <span class="flex-1 metric-title">Jak daleko (w metrach) zazwyczaj parkujesz od celu podróży?</span>
                                <button class="btn btn-secondary bg-yellow-500 text-white px-2 py-1 ml-2 rounded" onclick="viewMetric('numeric')">zobacz</button>
                            </div>
                            <div class="metric-title flex items-center justify-between mt-2">
                                <span class="flex-1 metric-title">Jakie zmiany mogłyby poprawić sytuację parkingową w Twojej okolicy?</span>
                                <button class="btn btn-secondary bg-yellow-500 text-white px-2 py-1 ml-2 rounded" onclick="viewMetric('open')">zobacz</button>
                            </div>
                        </div>
                    </div>
                    <!-- Goal 4 -->
                    <div class="form-group mb-4 bg-gray-200 rounded p-4">
                        <div class="form-group-title flex items-center mb-2">
                            <h5 class="flex-1 m-0">Sezonowe wyzwania mobilności</h5>
                        </div>
                        <label class="goal-label text-left">Opis celu</label>
                        <textarea class="form-control w-full h-20 text-base" placeholder="Goal description">Zbadaj co mieszkańcy sądzą o środkach, jakie miasto podejmuje aby ułatwić mobilność podczas zimy.</textarea>
                        <label class="metrics-label text-left mt-4">Miary</label>
                        <div class="metric-titles">
                            <div class="metric-title flex items-center justify-between mt-2">
                                <span class="flex-1 metric-title">Jak oceniasz stan dróg w Twojej okolicy podczas zimy?</span>
                                <button class="btn btn-secondary bg-yellow-500 text-white px-2 py-1 ml-2 rounded" onclick="viewMetric('likert')">zobacz</button>
                            </div>
                            <div class="metric-title flex items-center justify-between mt-2">
                                <span class="flex-1 metric-title">Ile razy tej zimy doświadczyłeś/łaś problemów z poruszaniem się po mieście przez śnieg lub lód?</span>
                                <button class="btn btn-secondary bg-yellow-500 text-white px-2 py-1 ml-2 rounded" onclick="viewMetric('numeric')">zobacz</button>
                            </div>
                            <div class="metric-title flex items-center justify-between mt-2">
                                <span class="flex-1 metric-title">Jakie działania mogłyby poprawić warunki drogowe w zimie?</span>
                                <button class="btn btn-secondary bg-yellow-500 text-white px-2 py-1 ml-2 rounded" onclick="viewMetric('open')">zobacz</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right Column -->
                <div class="col-md-6 w-1/2 right-col">
                    <div class="form-group mb-4">
                        <label for="ageRange">Zakres wiekowy</label>
                        <div id="ageRangeSlider" class="w-full h-5"></div>
                        <p>Wybrany zakres wiekowy: <span id="ageRangeDisplay">30 - 60</span></p>
                    </div>
                    <div class="form-group mb-4">
                        <label for="numberInput">Ilość respondentów</label>
                        <input type="number" class="form-control w-full" id="numberInput" min="1" value="300">
                    </div>
                    <div class="form-group mb-4">
                        <label for="numberInput">Płeć respondentów</label>
                        <div class="checkbox-group">
                            <div class="form-check flex items-center">
                                <input class="form-check-input mr-2" type="checkbox" id="checkbox1" checked>
                                <label class="form-check-label" for="checkbox1">Mężczyźni</label>
                            </div>
                            <div class="form-check flex items-center">
                                <input class="form-check-input mr-2" type="checkbox" id="checkbox2" checked>
                                <label class="form-check-label" for="checkbox2">Kobiety</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="numberInput">Poziom wykrztałcenia respondentów</label>
                        <div class="checkbox-group">
                            <div class="form-check flex items-center">
                                <input class="form-check-input mr-2" type="checkbox" id="checkbox1" checked>
                                <label class="form-check-label" for="checkbox1">Podstawowe</label>
                            </div>
                            <div class="form-check flex items-center">
                                <input class="form-check-input mr-2" type="checkbox" id="checkbox2" checked>
                                <label class="form-check-label" for="checkbox2">Średnie</label>
                            </div>
                            <div class="form-check flex items-center">
                                <input class="form-check-input mr-2" type="checkbox" id="checkbox3" checked>
                                <label class="form-check-label" for="checkbox3">Wyższe</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="numberInput">Posiadanie dzieci</label>
                        <div class="checkbox-group">
                            <div class="form-check flex items-center">
                                <input class="form-check-input mr-2" type="checkbox" id="checkbox1" checked>
                                <label class="form-check-label" for="checkbox1">Respondenci posiadający dzieci</label>
                            </div>
                            <div class="form-check flex items-center">
                                <input class="form-check-input mr-2" type="checkbox" id="checkbox2" checked>
                                <label class="form-check-label" for="checkbox2">Respondenci nie posiadający dzieci</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="textarea">Dodatkowe instrukcje dla chatbota</label>
                        <textarea class="form-control w-full h-32" id="textarea" rows="4" placeholder="Jak powinien zachowywać się chatbot w stosunku do respondentów? O czym powienine pamiętać, a na co powinien uważać?">Bądź uprzejmy, ale zwięzły. Nie używaj zbyt technicznych określeń. Staraj się unikać zbaczania konwersacji na tematy, które nie są związane z tematem badania. Część ludzi nie będzie miała odpowiedzi na niektóre miary, na przykład, kiedy nie korzystają z danej usługi.</textarea>
                    </div>
                    <div class="form-group mb-4">
                        <button class="btn btn-draft bg-grey-500 text-white px-4 py-2 mr-2 rounded">Zapisz jako szkic</button>
                        <button class="btn btn-save bg-black text-white px-4 py-2 rounded">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- The Modal -->
        <div id="metricModal" class="modal">
            <div class="modal-content rounded">
                <span class="close" onclick="closeMetricModal()">&times;</span>
                <h2 class="rounded">Zobacz miarę</h2>
                <div id="metricContent"></div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='example_input.js') }}"></script>
    </body>
</html>